body h2,
body h1,
body h3{
	margin: 	0px;
}

body a {
	text-decoration: 	none;	
	color: blue;
}

body a:hover {
	color: red;
	transition: 1s;
	opacity: 0.7;
}

.home .paragraf {
	color: 	gray;
	font-family: 	Arial;		
	text-align: 	center;	
}

.home .contact {
	color: 	gray;
	font-family: 	Arial;
	text-align: 	center;	
}

.home .atif {
	color: 	gray;
	font-family: 	Arial;
	text-align: 	center;	
}


.icon .google {
	width: 100%;
	max-width: 2.5%;
	border: 0.3px solid black;
	margin: 0px;
}

.icon .yandex {
	width: 100%;
	max-width: 2.5%;
	border: 0.3px solid black;
	margin: 0px;
}

.icon .yahoo {
	width: 100%;
	max-width: 2.5%;
	border: 0.3px solid black;
	margin: 0px;
}

.lang .icon #aze {
	width: 100%;
	max-width: 2.5%;
	border: 0.3px solid black;
	margin: 0px;
}

.lang .icon #turk {
	width: 100%;
	max-width: 2.5%;
	border: 0.3px solid black;
	margin: 0px;
}

.lang .icon #eng {
	width: 100%;
	max-width: 2.5%;
	border: 0.3px solid black;
	margin: 0px;
}

.icon {
	text-align: center;
}

.icon .google:hover {
	transition: 2s;
	opacity: 0.5;
}

.icon .yandex:hover {
	transition: 2s;
	opacity: 0.5;
}

.icon .yahoo:hover {
	transition: 2s;
	opacity: 0.5;
}
























.beta {
	margin: 0px;	
}

.header {
	margin: 0px;
}